@import './variables.scss';

html, body, #root, .app-wrapper {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  background: $bg-color_lvl1;
}

#root {
  padding: 50px 20px 20px;
}

.app-wrapper {
  position: relative;

  .app-wrapper__content {
    height: 100%;
    padding-left: 90px;
  }
}

// wrappers 
@import './common/wrappers/page-wrapper.scss';
@import './common/wrappers/section-wrapper.scss';

// pages
@import './pages/Auth/auth-page.scss'; 
@import './pages/Languages/languages-page.scss';


// ui 
@import './common/navigation.scss';
@import './common/loader.scss';