// Backgrounds 
$bg-color_lvl1: #1C2039; 
$bg-color_lvl2: #262B49; 
$bg-color_lvl3: #2F3350;

// Borders 
$border-color_lvl1: #51556D;

// Texts
$inactive-text: #757575;
$grey-text: #C8CEDA;

// Gradients
$red-gradient: linear-gradient(#BC042C, #E5382F);