@import './backdrop.scss';

.finished-pack-modal {
  position: fixed;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 12;
  width: 350px;
  height: 700px;

  ul {
    list-style: none;
    padding: 0;
    margin-top: 16px;

    li {
      position: relative;
      box-sizing: border-box;
      padding: 4px 0;

      & > label {
        position: absolute;
        left: 0;
        width: calc(100% - 25px);
        padding-left: 25px;
        color: $grey-text;

        &:hover {
          cursor: pointer;
          color: #fff;
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}