.languages-page {
  height: 100%;

  .new-language-block {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;

    & > button {
      margin-left: 16px;
      cursor: pointer;
    }

    .error-block {
      margin-left: 16px;
      color: red;
    }
  }
  
  @import '../../common/tabs/main-tabs.scss';
  @import '../../common/tabs/sub-tabs.scss';

  @import './words-tab.scss';
  @import './texts-tab.scss';
}