.languages-page {
  height: 100%;

  .new-language-block {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;

    & > button {
      margin-left: 16px;
      cursor: pointer;
    }

    .error-block {
      margin-left: 16px;
      color: red;
    }
  }

  @import '../../common/tabs/main-tabs.scss';

  .language-content-section {
    margin-top: 16px;
    height: calc(100% - 180px);

    @import '../../common/tabs/sub-tabs.scss';

    @import './packs-tab.scss';
    @import './words-tab.scss';
    @import './texts-tab.scss';
  }
  
}