.words-tab {
  height: 100%;
  border-top-left-radius: 0;

  @import '../../common/search-bar.scss';

  .words-tab-content {
    margin-top: 16px;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .words-block {
      ul {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
  
        li {
          margin-top: 16px;
          display: flex;
          justify-content: space-between;
  
          &:first-child {
            margin-top: 0;
          }
  
          & > input {
            width: 100%;
            background: none;
            border: none;
            color: $grey-text;
            background: $bg-color-lvl1;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 10px 16px;
            
            &:focus {
              outline: none;
            }
          }
  
          & > button {
            margin-left: 16px;
            
            &:hover {
              cursor: pointer;
            }
          }
        }
  
      }
      
    }
  
    @import '../../common/pagination.scss';
  }
}