.words-tab {
  height: 100%;
  border-top-left-radius: 0;
  display: flex;

  .cards-side {
    width: 30%;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .word-card-block {
    }

    .words-packs-block {
      & > span {
        font-size: 15px;
        margin-bottom: 16px;
        display: block;
        color: $grey-text;
      }

      ul {
        background: $bg-color_lvl1;
        margin: 0;
        padding: 0;
        list-style: none;
        max-height: 300px;
        overflow: scroll;

        li {
          border: 1px solid transparent;
          color: $grey-text;
          padding: 6px;
          cursor: pointer;
          font-size: 12px;

          &:hover {
            color: #fff;
            border-bottom: 1px solid #fff;
          }
        }

        .active {
          color: #fff;
          border-bottom: 1px solid #fff;
        }
      }
    }
  } 

  .words-side {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .actions-block {
      height: 5%;
      display: flex;
      justify-content: space-between;
    }

    .words-list-block {
      margin-top: 16px;
      height: 75%;
    }

    .words-suggestions-block {
      margin-top: 16px;
      height: 20%;
    }

    .words-list-block,
    .words-suggestions-block {
      & > textarea {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        resize: none;
        background: $bg-color-lvl1;
        color: $grey-text;

        &:focus {
          outline: none;
        }
      }
    }
  }
}